<!-- app/views/home/index.html.erb -->
<div class="container">
  <div class="row">
      <h1>Welcome to the 
      Affirmation Diary!</h1>
      <div class="col-md-6 offset-md-3">
      <h2><i> This app allows you to log
       your emotions and mood and add your affirmation to lift your mood </i> </h2>

      <p> Choose an option below:</p>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Log your Diary here:
        </button>
    </div>
  </div>
        <a href="<%= affirmations_path %>" class="btn btn-primary btn-lg mr-3">Affirmations</a>
        <a href="<%= emotions_path %>" class="btn btn-secondary btn-lg">Emotions</a>
      </div>
    </div>
  </div>
</div>
