/* app/assets/stylesheets/custom.css */

/* Add a background image */
body {
    background-image: url('/assets/good.jpg');
    background-size: cover;
  }
  
  /* Customize navbar */
  .navbar {
    background-color: #a0d0ff; /* Light gray background */
  }
  
  .navbar-brand,
  .nav-link {
    color: #ff75d5; /* Dark text color */
  }
  
  .navbar-brand:hover,
  .nav-link:hover {
    color: #0a80f6; /* Darker text color on hover */
  }
  
  /* Customize form */
  .form-label {
    color: #212529; /* Dark text color */
  }
  
  .form-control {
    border-color: #ced4da; /* Light gray border */
  }
  
 /* Add styling for the affirmations page */
.affirmations-container {
    margin-top: 20px;
  }
  
  .affirmation {
    background-color: #ffa154;
    border: 1px solid #fd5151;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .affirmation-content {
    font-size: 16px;
  }
  
  .affirmation-emotion {
    font-style: italic;
    color: #dbfc46; /* Gray color */
  }

  .p1 {
    font-style: italic;
    color: #dbfc46;
  }